.dc__projects {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: #161616;
  z-index: 1;
}

.dc__skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
  margin-left: 15vw;
  margin-right: 15vw;
}

.dc__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.dc__skill i {
  font-size: 6rem;
  color: #847365;
  transition: color 0.8s ease-out;
}

.dc__skill i:hover {
  color: #f06a00;
  transition-duration: 0.1s;
}

.dc__skill-name {
  margin-top: 0.5rem;
  color: #847365;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font-family);
  transition: color 0.8s ease-out;
}

.dc__skill-name:hover {
  color: #b2a89f;
  transition-duration: 0.1s;
}

.dc__projects-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: default;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 5rem;
  z-index: 1;
  padding-bottom: 1rem;
}

.a_p1,
.a_p2,
.a_p3,
.a_p4 {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #847365;
  text-shadow: #847365 0px 0px 12px;
}

.project1,
.project2,
.project3,
.project4 {
  display: flex;
  margin-bottom: 6rem;
  color: #161616;
  font-family: var(--font-family);
  margin-top: 4rem;
  text-align: left;
  font-weight: 750;
  font-size: 5vmax;
  line-height: 10vmax;
  text-transform: capitalize;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #847365;
  cursor: default;
}

.dc__projects-animation {
  display: inline-block;
  position: relative;
  color: #161616;
}

.dc__projects-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 25px;
  left: 0;
  background-color: #f06a00;
  transform-origin: bottom right;
  transition: transform 0.45s ease-out;
}

.dc__projects-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dc__projects-title {
  display: flex;
  margin-bottom: 6rem;
  color: #161616;
  font-family: var(--font-family);
  margin-top: 4rem;
  text-align: center;
  font-weight: 750;
  font-size: 5vmax;
  line-height: 10vmax;
  text-transform: capitalize;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #f06a00;
  cursor: default;
  justify-content: center;
  text-shadow: #f06a00 0px 0px 12px;
}

.dc__projects-title-animation {
  display: flex;
  text-align: center;
}

/* Modal Styles */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #b2a89f;
  color: #161616;
  padding: 2rem;
  border-radius: 1%;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
  z-index: 10000;
  position: relative;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  backdrop-filter: blur(8px);
}

.modal-logo {
  font-size: 8rem;
  margin-bottom: 2rem;
  color: #161616;
}

.modal-skill-name {
  font-size: xx-large;
  margin-bottom: 1rem;
  z-index: 10000;
  font-family: var(--font-family);
  color: #161616;
}

.modal-close-button {
  position: absolute; /* Add position absolute */
  top: 10px; /* Adjust top position as needed */
  right: 10px;
  background: none !important;
  color: #161616 !important;
  border: none !important;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  z-index: 10000;
  font-size: x-large !important;
}

.modal-close-button:hover {
  color: #f06a00 !important;
}

.modal-close-button:hover {
  color: #161616;
}

.modal-text {
  font-family: var(--font-family);
  color: #161616;
  font-size: large;
  margin-bottom: 1rem;
}

.modal-link {
  font-family: var(--font-family);
  color: #f06a00;
  font-size: larger;
  font-weight: bold;
  margin-top: 1rem; 
}

.modal-link:hover {
  text-shadow: #f06a00 0px 0px .3rem;
}

@media screen and (max-width: 1800px) {
  .dc__skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  
  .dc__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  
  .dc__skill i {
    font-size: 6rem;
    color: #847365;
    transition: color 0.8s ease-out;
  }
  
  .dc__skill i:hover {
    color: #f06a00;
    transition-duration: 0.1s;
  }
  
  .dc__skill-name {
    margin-top: 0.5rem;
    color: #847365;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-family);
    transition: color 0.8s ease-out;
  }
  
  .dc__skill-name:hover {
    color: #b2a89f;
    transition-duration: 0.1s;
  }

  .modal {
    width: 70vw;
    height: 80vh;
  }
  
  .modal-logo {
    font-size: 7rem;
  }
  
  .modal-skill-name {
    font-size: xx-large;
  }

  .modal-text {
    font-size: smaller;
  }
  
  .modal-link {
    font-size: small;
    font-weight: bold;
  }
}

  @media screen and (max-width: 1300px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }

    .dc__skills-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 8vw;
      margin-top: 10vh;
      margin-bottom: 20vh;
      margin-left: 12vw;
      margin-right: 12vw;
    }
    
    .dc__skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
    }
    
    .dc__skill i {
      font-size: 4rem;
      color: #847365;
      transition: color 0.8s ease-out;
    }
    
    .dc__skill i:hover {
      color: #f06a00;
      transition-duration: 0.1s;
    }
    
    .dc__skill-name {
      margin-top: 0.5rem;
      color: #847365;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: var(--font-family);
      transition: color 0.8s ease-out;
    }
    
    .dc__skill-name:hover {
      color: #b2a89f;
      transition-duration: 0.1s;
    }

    .modal {
      width: 70vw;
      height: 80vh;
    }
    
    .modal-logo {
      font-size: 7rem;
    }
    
    .modal-skill-name {
      font-size: xx-large;
    }

    .modal-text {
      font-size: smaller;
    }
    
    .modal-link {
      font-size: small;
      font-weight: bold;
    }
    
    .dc__projects-content {
      flex: 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 5rem;
      margin-left: 5rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      
      text-shadow: #847365 0px 0px 0px;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 5vmax;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 5vmax;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }

  @media screen and (max-width: 950px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }
    
    .dc__skill i {
      font-size: 3.5rem;
    }
    
    .dc__skill-name {
      font-size: .9rem;
    }

    .modal-logo {
      font-size: 6rem;
    }
    
    .modal-skill-name {
      font-size: x-large;
    }

    .modal-text {
      font-size: smaller;
    }
    
    .modal-link {
      font-size: small;
      font-weight: bold;
    }

    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 3rem;
      margin-left: 3rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 8vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 3rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 840px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }
    
    
    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 3rem;
      margin-left: 3rem;
      margin-top: 5rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 6rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: left;
      font-weight: 750;
      font-size: 8vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 3rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 710px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }

    .dc__skills-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10vw;
      margin-top: 2vh;
      margin-bottom: 10vh;
      margin-left: 6vw;
      margin-right: 6vw;
    }
    
    .dc__skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
    }
    
    .dc__skill i {
      font-size: 10rem;
      color: #847365;
      transition: color 0.8s ease-out;
    }
    
    .dc__skill i:hover {
      color: #f06a00;
      transition-duration: 0.1s;
    }
    
    .dc__skill-name {
      margin-top: 0.5rem;
      color: #847365;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: var(--font-family);
      transition: color 0.8s ease-out;
    }
    
    .dc__skill-name:hover {
      color: #b2a89f;
      transition-duration: 0.1s;
    }
    
    .dc__skill i {
      font-size: 3rem;
    }
    
    .dc__skill-name {
      font-size: .6rem;
    }
    
    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 2rem;
      margin-left: 2rem;
      margin-top: 3rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      align-items: center;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 2rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 1rem;
      text-align: left;
      font-weight: 750;
      font-size: 8vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 3rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      text-align-last: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 2.5px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }

  @media screen and (max-width: 710px) {
    .dc__skill i {
      font-size: 2rem;
    }
    
    .dc__skill-name {
      font-size: .6rem;
    }
  }
  
  @media screen and (max-width: 420px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
    }

    .dc__skill i {
      font-size: 1.5rem;
    }
    
    .dc__skill-name {
      font-size: .35rem;
    }
    
    .modal {
      width: 90vw;
      height: 90vh;
    }

    .modal-logo {
      font-size: 4rem;
    }
    
    .modal-skill-name {
      font-size: medium;
    }

    .modal-text {
      font-size: .25rem;
    }
    
    .modal-link {
      font-size: smaller;
      font-weight: bold;
    }

    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: default;
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      margin-top: 2rem;
      z-index: 1;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      align-items: center;
      text-align: center;
      text-align-last: center;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      flex: 2;
      margin-bottom: 1rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 1rem;
      text-align: left;
      font-weight: 750;
      font-size: 7vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
      text-align: center;
      word-break: break-all;
    }
    
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 1rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 4rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 300px) {
    .dc__projects {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background: #161616;
      z-index: 1;
      justify-content: center;
    }
    
    .modal {
      width: 90vw;
      height: 95vh;
    }

    .modal-logo {
      font-size: 4rem;
    }
    
    .modal-skill-name {
      font-size: small;
    }

    .modal-text {
      font-size: .25rem;
    }
    
    .modal-link {
      font-size: x-small;
      font-weight: bold;
    }

    .dc__projects-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: default;
      z-index: 1;
      justify-content: center;
    }
    
    .a_p1,
    .a_p2,
    .a_p3,
    .a_p4 {
      
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #847365;
      text-shadow: #847365 0px 0px 0px;
      
      text-align: center;
      text-align-last: center;
      align-items: center;
    }
    
    .project1,
    .project2,
    .project3,
    .project4 {
      display: flex;
      align-items: center;
      text-align: center;
      flex: 2;
      margin-bottom: 1rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: 1rem;
      text-align: center;
      text-align-last: center;
      font-weight: 750;
      font-size: 9vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #847365;
      cursor: default;
      justify-content: center;
      word-break: break-all;
    }
    
    .dc__projects-animation {
      display: inline-block;
      position: relative;
      color: #161616;
    }
    
    .dc__projects-animation:after {
      display: none;
    }
    
    .dc__projects-animation:hover:after {
      transform: scaleX(1);
    }
    
    .dc__projects-title {
      display: flex;
      flex: 1;
      margin-bottom: 1rem;
      color: #161616;
      font-family: var(--font-family);
      margin-top: .2rem;
      text-align: center;
      font-weight: 750;
      font-size: 9.5vw;
      line-height: 10vmax;
      text-transform: capitalize;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: #f06a00;
      cursor: default;
      justify-content: center;
      text-shadow: #847365 0px 0px 0px;
    }
    
    .dc__projects-title-animation {
      display: flex;
      text-align: center;
    }
  }